.dersu-logo {
  font-family: $font-cormorant;
  font-weight: 500;
  font-size: 80px;

  &__quotes {
    position: absolute;
    width: 40px;
    top: 14px;
    left: -40px;
  }

  &__wrapper {
    position: relative;
  }

  @include respond-to(lg) {
    font-size: 96px;
    &__quotes {
      font-size: 72px;
      position: absolute;
      width: 70px;
      top: 20px;
      left: -70px;
    }
  }
}
