.footer {
  font-family: $font-cormorant;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.9em;
  margin-top: 180px;
  margin-bottom: 100px;

  p {
    margin-bottom: 0.7em;
  }

  &__social-links {
    display: flex;
      flex-direction: column;

    li {
      display: inline-block;

      &::before {
        content: ' ❊ ';
        font-family: $font-poppins;
        font-size: 16px;
        vertical-align: middle;
        line-height: 0;
        padding: 0 3px;
      }

      @include respond-to(lg) {
        &:first-child {
          &::before {
            display: none;
          }
        }
      }

    }

    @include respond-to(lg) {
      display: inline-block;
    }
  }


  @include respond-to(lg) {
    font-size: 36px;
    padding-top: 180px;
    padding-bottom: 100px;
  }
}
