.MarkdownContent {
  @apply font-serif font-light;

  h1 {
    @apply text-dersu-2xl md:text-dersu-3xl font-normal mb-[0.3em];
  }

  h2 {
    @apply text-dersu-xl md:text-dersu-2xl font-normal mb-[0.3em] mt-[1em];
  }

  h3 {
    @apply text-dersu-lg md:text-dersu-xl font-normal mb-[0.3em] mt-[1em];
  }

  h4 {
    @apply text-dersu-sm md:text-dersu-md font-bold mb-[0.3em];
  }

  p {
    @apply text-dersu-sm md:text-dersu-md mb-[1em];
  }

  a {
    @apply font-normal;
    @apply hover:underline;
  }

  ul {
    @apply text-dersu-sm md:text-dersu-md pl-5 mb-[1em];

    li {
      @apply mb-[0.8em];

      list-style-type: circle;
    }
  }

  ol {
    @apply text-dersu-sm md:text-dersu-md pl-14 mb-[1em];

    li {
      @apply mb-1 list-decimal;
    }
  }

  img {
    @apply w-full;
  }

  blockquote {
    @apply pl-10 border-l-4 border-dersu-blue italic;

    p {
      &::before {
        content: '“';
      }

      &::after {
        content: '”';
      }

      &::after,
      &::before {
        display: inline;
      }
    }
  }

  pre {
    @apply bg-black text-white p-4;
  }
}
