.Hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  &__logo {
    color: #fdda79;
    width: 100%;
    padding-top: 40px;
  }

  &__caption {
    color: #f7f2f0;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
  }
}
