<!-- Notice -->
<div class="notice">
  <span>
    ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊ temporary branding ❊
  </span>
</div>

<!-- Header -->
<header class="header">
  <div class="wrapper">
    <h1 class="dersu-logo">
      <div class="dersu-logo__wrapper">
        <img src="/assets/svg/dersu-quotes.svg" class="dersu-logo__quotes" alt="logo quotes" />
        <span class="dersul-logo__text">Dersu</span>
      </div>
    </h1>
  </div>
</header>
