// Commons
@import "commons/vars";
@import "commons/mixins";
@import "commons/reset";
@import "commons/defaults";

// Blocks
@import "blocks/header";
@import "blocks/footer";
@import "blocks/wrapper";
@import "blocks/notice";
@import "blocks/dersu-logo";
@import "blocks/markdown-content";

blockquote {
    max-width: 900px;
    margin: 0px 0px -50px 0px;
  
    @include respond-to(lg) {
      max-width: 500px;
      margin: 30px 0px -50px 0px;
    }
  }