.component {
  &_label {
    display: flex;
    cursor: pointer;
  }

  &_inputCheck {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid theme('colors.dersu.blue');
    border-radius: 4px;
  }

  &_labelText {
    margin-left: 12px;
  }
}
