$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
) !default;


$text-primary-color: #111111;
$text-link-color: #111111;

$font-cormorant: 'Cormorant', serif;
$font-baskerville: 'Libre Baskerville', serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins';
