/* stylelint-disable */

@font-face {
  font-display: swap;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/recoleta/Recoleta-Regular/Recoleta-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/recoleta/Recoleta-Regular/Recoleta-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/recoleta/Recoleta-Regular/Recoleta-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/recoleta/Recoleta-Regular/Recoleta-Regular.woff') format('woff'); /*, /* Modern Browsers */
}

@font-face {
  font-display: swap;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/recoleta/Recoleta-Regular/Recoleta-Light.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/recoleta/Recoleta-Light/Recoleta-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/recoleta/Recoleta-Light/Recoleta-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/recoleta/Recoleta-Light/Recoleta-Regular.woff') format('woff'); /*, /* Modern Browsers */
}

