html,
body {
  @apply font-serif bg-black text-dersu-black antialiased;
  @apply min-h-screen;
  @apply scroll-smooth;

  letter-spacing: 0.01em;

  /* stylelint-disable-next-line value-no-vendor-prefix */
  min-height: -webkit-fill-available;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  @apply bg-dersu-white overflow-hidden relative min-h-screen;

  /* stylelint-disable-next-line value-no-vendor-prefix */
  min-height: -webkit-fill-available;
}
